
		@import "_parts/_base/variables";
		@import "_parts/_base/keyframes";
		@import "_parts/_mixins/mixins";

		html,

		body {
			padding: 0;
			margin: 0;
			height: 100vh;
			position: relative;
			font-family: Helvetica, sans-serif;
			font-size: 16px;
			overflow: hidden;
		}

		body * {
			box-sizing: border-box;
		}

		@import "_parts/_views/views";
		