
		// Colors
		$primary : #00C4FF;
		$secondary : #0091FF;
		$tertiary : #212121;
		$quaternary : #6236FF;
		$quinary: #000;
		$senary: #FCDB00;
		$sexto: #F7B500;
		$buynow4: #A6EC00;
		$buyagora:#6DD400;
		$buynow6: #E02020;
		$buynow: #FA6400;
		$rectangle: #EEEEEE;
		$highlight: #B620E0;
		$gradienthighlight: #6236FF;

		$primarygradient: linear-gradient(-45deg, $primary 0%,$secondary 100%);
		

		

		

		$error : red;
		$success : green;

		$black : black;
		$dark : #555;
		$light : #eee;
		$white : white;
	
		$maxwidth : 960px;
		$headerheight: 60px;
		